<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.leonoinoi.ezroom"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ezroom_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ezroom_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BuildingEdit"
            android:label="@string/title_activity_building_edit"
            android:parentActivityName=".BuildingDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.BuildingDashBoard"/>
        </activity>
        <activity
            android:name=".RenterDashBoard"
            android:label="@string/title_activity_renter_dash_board"
            android:parentActivityName=".OwnerDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OwnerDashBoard"/>
        </activity>
        <activity
            android:name=".OwnerDashBoard"
            android:label="@string/title_activity_owner_dash_board"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BuildingDashBoard"
            android:label="@string/title_activity_building_dash_board"
            android:parentActivityName=".OwnerDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OwnerDashBoard"/>
        </activity>
        <activity
            android:name=".RoomDashBoard"
            android:label="@string/title_activity_room_dash_board"
            android:parentActivityName=".OwnerDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OwnerDashBoard"/>
        </activity>
        <activity
            android:name=".RoomEdit"
            android:label="@string/title_activity_room_edit"
            android:parentActivityName=".RoomDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.RoomDashBoard"/>
        </activity>
        <activity
            android:name=".RoomTypeDashBoard"
            android:label="@string/title_activity_room_type_dash_board"
            android:parentActivityName=".OwnerDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OwnerDashBoard"/>
        </activity>
        <activity
            android:name=".RoomTypeEdit"
            android:label="@string/title_activity_room_type_edit"
            android:parentActivityName=".RoomTypeDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.RoomTypeDashBoard"/>
        </activity>
        <activity
            android:name=".RenterEdit"
            android:label="@string/title_activity_renter_edit"
            android:parentActivityName=".RenterDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.RenterDashBoard"/>
        </activity>
        <activity
            android:name=".OptionDashBoard"
            android:label="@string/title_activity_option_dash_board"
            android:parentActivityName=".OwnerDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OwnerDashBoard"/>
        </activity>
        <activity
            android:name=".OptionEdit"
            android:label="@string/title_activity_option_edit"
            android:parentActivityName=".OptionDashBoard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonoinoi.ezroom.OptionDashBoard"/>
        </activity>
    </application>

</manifest>